
<h1>Ali Tweet v2.1</h1>
<% if @tweet.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being twitted:
    </h2>
    <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @tweet, local: true do |form| %>
  <p>
    <%= form.label :tweet %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.submit 'Tweet' %>
  </p>
<% end %>

<h1>What's Up?</h1>
<div>
<% @tweets.each do |tweet| %>
  <pre>
  Posted date: <%= tweet.created_at.strftime("%F %T") %> | <%= link_to 'Delete', tweet_path(tweet), method: :delete, data: { confirm: 'Are you sure?' } %>


  <%= tweet.content %> <br>
  </pre>
  <hr>
<% end %>
</div>
